body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board {
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /*border: 2px solid black;
    box-sizing: border-box;*/
}

.tile {
    width: 75px; 
    height: 75px;
    border: 1px solid lightgray;
    box-sizing: border-box;

    /* Text */
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.instruction {
    width: 15px;
    height: 15px;
    margin-top: 5%;
    margin-left: 5%;

    font-size: 15px;
    font-weight: bold;
    justify-content: left;
    position: absolute;
    top: 0;
    left: 0;
}

.note {
    width: 10px;
    height: 12px;
    margin-bottom: 5%;
    margin-left: 0%;

    justify-content: left;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    bottom: 0;
    left: 0;
}

#digits {
    width: 500px;
    height: 50px;

    margin: 0 auto;
    display: flex;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    width: 500px;
    height: 50px;

    margin: 0 auto;
    display: flex;
}

.submit {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 2px;
    background-color:white;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 80px;
    height: 50px;
    border: 1px solid black;
    margin: 2px;
    background-color:green;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 40px;
    height: 40px;
  }


.del {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 2px;
    background-color: white;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noteButton {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 2px;
    background-color: white;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 2px;
    background-color: white;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 2px;
    background-color: white;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-hovered {
    background-color: rgb(221,221,221);
}

.number-selected {
    background-color: gray;
}

.tile-hovered {
    background-color: rgb(220, 246, 255);
}

.tile-hovered-noting {
    background-color: rgb(174, 130, 217);
}

.tile-selected {
    background-color: rgb(96, 213, 252);
}

.tile-start {
    background-color: whitesmoke;
}

.thick-top {
    border-top: 2px solid black;
}

.thick-bottom {
    border-bottom: 2px solid black;
}

.thick-left {
    border-left: 2px solid black;
}

.thick-right {
    border-right: 2px solid black;
}

.thicc-top {
    border-top: 4px solid black;
}

.thicc-bottom {
    border-bottom: 4px solid black;
}

.thicc-left {
    border-left: 4px solid black;
}

.thicc-right {
    border-right: 4px solid black;
}

.wrong-tile {
    background-color: rgb(158, 61, 61);
}

.submit-hovered {
    background-color: #489f4a;
}

.number-hovered {
    background-color: rgb(255, 249, 185);
}

.note-hovered {
    background-color: rgb(107, 107, 231);
}

.del-hovered {
    background-color: rgb(232, 107, 107);
}

.digit { 
    font-size: 30px; 
} 
  
.txt { 
    font-size: 30px; 
} 