body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board {
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /*border: 2px solid black;
    box-sizing: border-box;*/
}

.tile {
    width: 75px; 
    height: 75px;
    border: 1px solid lightgray;
    box-sizing: border-box;

    /* Text */
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.instruction {
    width: 15px;
    height: 15px;
    margin-top: 5%;
    margin-left: 5%;

    font-size: 15px;
    font-weight: bold;
    justify-content: left;
    position: absolute;
    top: 0;
    left: 0;
}

#digits {
    width: 500px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    width: 500px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.submit {
    width: 89px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    background-color: rgb(30, 227, 30);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check {
    width: 89px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    background-color: rgb(117, 217, 251);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.del {
    width: 89px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    background-color: rgb(235, 38, 38);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-hovered {
    background-color: rgb(220, 246, 255);
}

.tile-start {
    background-color: whitesmoke;
}

.thick-top {
    border-top: 2px solid black;
}

.thick-bottom {
    border-bottom: 2px solid black;
}

.thick-left {
    border-left: 2px solid black;
}

.thick-right {
    border-right: 2px solid black;
}

.thicc-top {
    border-top: 4px solid black;
}

.thicc-bottom {
    border-bottom: 4px solid black;
}

.thicc-left {
    border-left: 4px solid black;
}

.thicc-right {
    border-right: 4px solid black;
}

.wrong-tile {
    background-color: rgb(158, 61, 61);
}

.submit-hovered {
    background-color: rgb(85, 242, 85);
}

.check-hovered {
    background-color: rgb(155, 230, 255);
}

.number-hovered {
    background-color: rgb(255, 249, 185);
}

.del-hovered {
    background-color: rgb(232, 107, 107);
}